<!DOCTYPE HTML>
<html>
    <head>
        <title>Heewon's JobSeeking</title>
        <meta charset="utf-8">
        <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    
    <body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <a href="index.html">Portfolio <span>by Heewon Kim</span></a>
        </div>
        <a href="#menu" class="toggle"><span>Menu</span></a>
    </header>
    
    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li>
                <a href="#">Careers</a>
                <ul class="links">
                    <li><a href="moodang.html"> - Moodang Odyssey</a></li>
					<li><a href="festival.html"> - Festival Finder</a></li>
					<li><a href="cost_alarm.html"> - AWS Cost Alarm</a></li>
					<li><a href="chatbot.html"> - Chatbot</a></li>
					<li><a href="book_store.html"> - Book Store</a></li>
					<li><a href="break_the_delivery.html"> - Break the Delivery</a></li>
					<li><a href="pneumonia.html"> - AI Pneumonia</a></li>
                </ul>
            </li> 
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>
        </ul>
    </nav>
    
    <!-- One -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <h2>Break the Delivery</h2>
                        <p>공동 구매로 배달비를 절감할 수 있는 어플리케이션</p>
                    </header>

                    <hr>
                    <div class="image fit">
                        <img src="images/Break_the_delivery.png" alt="" width="3472" height="auto">
                    </div>
    
                    <p> 
                        <h4>Duration</h4>
                        <blockquote>2 months (2023.04.01 - 2023.06.04)</blockquote>
                    </p>
                    <p>
                        <h4>Tech Stack</h4>
                        <blockquote> Dot Home, File Zilla, XML, Java</blockquote>
                    </p>
                    <p>
                        <h4>Description</h4>     

                        <blockquote>
                            한 배달 기사가 해당 주문건 모두를 배달하며 기본 배달비에 50m 추가 당 500원의 팁을 받는다. <br>                             
                           
                            <div class="image fit">
                                <br><img src="images/BTD_content.jpg" alt="" width="3472" height="auto"> <br>                        
                            </div>
                        </blockquote> 
                    </p>
                    <p>
                        <h4>Key Features</h4>     

                        <blockquote>
                            한 배달 기사가 해당 주문건 모두를 배달하며 기본 배달비에 50m 추가 당 500원의 팁을 받는다. <br>                              
                     
                        </blockquote> 
                    </p>

                    <h4>Demonstraton Video</h4>
                </div>
            </div>
        </div>
    </section>


    <!-- Four -->
    <section id="four" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <h2>Morbi interdum mollis sapien</h2>
                <p>Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
            </header>
        </div>
    </section>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script><script src="assets/js/jquery.scrolly.min.js"></script><script src="assets/js/jquery.scrollex.min.js"></script><script src="assets/js/skel.min.js"></script><script src="assets/js/util.js"></script><script src="assets/js/main.js"></script></body></html>
