<!DOCTYPE HTML>
<html>
    <head>
        <title>Heewon's JobSeeking</title>
        <meta charset="utf-8">
        <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    
    <body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <a href="index.html">Portfolio <span>by Heewon Kim</span></a>
        </div>
        <a href="#menu" class="toggle"><span>Menu</span></a>
    </header>
    
    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li>
                <a href="#">Careers</a>
                <ul class="links">
                    <li><a href="moodang.html"> - Moodang Odyssey</a></li>
					<li><a href="festival.html"> - Festival Finder</a></li>
					<li><a href="cost_alarm.html"> - AWS Cost Alarm</a></li>
					<li><a href="chatbot.html"> - Chatbot</a></li>
					<li><a href="book_store.html"> - Book Store</a></li>
					<li><a href="break_the_delivery.html"> - Break the Delivery</a></li>
					<li><a href="pneumonia.html"> - AI Pneumonia</a></li>
            </li> 
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>
        </ul>
    </nav>
    
    <!-- One -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <h2>Slack : Channel 'Chatbot'</h2>
                        <p>단순 대화를 위한 채팅 가능</p>
                    </header>

                    <hr>
                    <div class="image fit">
                        <img src="images/Cost-alarm.png" alt="" width="3472" height="auto">
                    </div>
    
                    <p> 
                        <h4>Duration</h4>
                        <blockquote>1 day (2023.09.26)</blockquote>
                    </p>
                    <p>
                        <h4>Tech Stack</h4>
                        <blockquote>Slack, AWS, python </blockquote>
                    </p>
                    <p>
                        <h4>Description</h4>           
                        <blockquote>
                            모든 지역의 개최 예정 또는 진행 중인 축제들을 보여준다. <br>
                        </blockquote> 

                        <h4>Demonstraton Video</h4>
                        
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- Four -->
    <section id="four" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <h2>Morbi interdum mollis sapien</h2>
                <p>Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
            </header>
        </div>
    </section>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script><script src="assets/js/jquery.scrolly.min.js"></script><script src="assets/js/jquery.scrollex.min.js"></script><script src="assets/js/skel.min.js"></script><script src="assets/js/util.js"></script><script src="assets/js/main.js"></script></body></html>
