<!DOCTYPE HTML>
	<html>
		<head>
			<title>Heewon's JobSeeking</title>
			<meta charset="utf-8"><meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="assets/css/main.css">
			<script src="https://kit.fontawesome.com/bfef6478ba.js" crossorigin="anonymous"></script>
		</head>
		
		<body>
		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo">
					<a href="index.html">Portfolio <span>by HeeWon Kim</span></a>
				</div>
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		 <!-- Nav -->
		 <nav id="menu">
			<ul class="links">
				<li><a href="index.html">Home</a></li>
				<li>
					<a href="#">Careers</a>
					<ul class="links">
						<li><a href="moodang.html"> - Moodang Odyssey</a></li>
						<li><a href="festival.html"> - Festival Finder</a></li>
						<li><a href="cost_alarm.html"> - AWS Cost Alarm</a></li>
						<li><a href="chatbot.html"> - Chatbot</a></li>
						<li><a href="book_store.html"> - Book Store</a></li>
						<li><a href="break_the_delivery.html"> - Break the Delivery</a></li>
						<li><a href="pneumonia.html"> - AI Pneumonia</a></li>
					</ul>
				</li> 
				<li><a href="generic.html">Generic</a></li>
				<li><a href="elements.html">Elements</a></li>
			</ul>
		</nav>

			<!-- Main -->
			<section id="banner">
				<img src="images/Background.png" style="width: 100%;">
				<div class="inner">
					<h1>Kim Hee Won</h1>
					<p> 지원 분야</p>
					<a href="#profile" class="button special scrolly" style="margin-left: 2rem; margin-right: 2rem;">Profile</a>
					<a href="#Careers" class="button special scrolly" style="margin-left: 2rem; margin-right: 2rem;">Careers</a>
				</div>
			</section>
			
			<!-- Profile -->
			<section id="profile" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="sector">
							<div class="content">
								<h3 style="color: #000";>&nbsp;Profile</h3>
							</div>
						</div>

						<div class="box" style="display: flex; align-items: center;">
							<div class="image_circle" style="flex: 0 0 auto;">
								<img src="images/profile.jpg" alt="">
							</div>
							<div class="content_circle" style="flex: 1; display :flex; flex-direction: column; justify-content: center;">
								<header class="align-center">
									<h2>Kim Hee Won</h2>
								</header>
								<hr style="margin-top: 0.8rem;">
								<div style="text-align: center; color: #000; font-size: 1.2rem;">
									개발을 좋아하고 즐기는 신입 개발자, 김희원입니다.<br>
									문제를 해결했을 때 높은 성취감을 얻는 성격입니다. <br>
									따라서 처음 개발을 접했을 때 큰 흥미를 느꼈고, 공부를 시작하게 되었습니다. <br> 
									또한 새로운 지식을 학습하고 이를 접목시켜 보는 일을 하는데 열정적입니다. <br>
									좋아하는 일을 즐기고 그만큼 성과를 낼 수 있는 사람에겐 더 많은 가능성이 있다고 생각합니다. <br>
								</div>
							</div>
						</div>

						<div class="box">
							<div class="content">
								<header class="align-left">
									<h2>About Me</h2>
									<p>
										&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-school"></i> &nbsp;가천대학교 바이오나노학과 | 소프트웨어학과 (복수전공) <br>
										&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-user"></i> &nbsp; 신입 <br>
										&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-award"></i> &nbsp; (교내)비전공자를 위한 AI-Metaverse 소프트웨어 페스티벌 | 우수상 | Project 'AI Pneumonia Assist (Deep Learning)' <br>
										&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-certificate"></i>&nbsp; SQLD, 컴활 1급 (필기) <br>
										&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-phone"></i> &nbsp; <a id="copyNum">010-5602-4656</a> <br>
										&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-envelope"></i> &nbsp; <a id="copyText">heewon5602@naver.com</a> <br>
										&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-brands fa-github"></i> &nbsp; <a target="_blank" href="https://github.com/heewon5602"> github.com/heewon5602</a> <br>
									</p>
								</header>
								<hr><p> </p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Careers -->
			<section id="Careers" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="sector">
							<div class="content">
								<h3 style="color: #000";>&nbsp;Careers</h3>
							</div>
						</div>

						<div class="grid-style">
							<!--Profect 1-->
							<div>
								<div class="box">
									<div class="content">
										<header class="align-center">
											<h4 style="text-align: left; margin: 0 0 0 0;">Project 1</h4>
											<h2><a href="moodang.html">Game : Moodang Odyssey</a></h2>
											<p>무당이(무당벌레 모양의 차)가 장애물을 피해 등교하는 게임 <br>
												중간 정류장 2곳 도달 시 미니게임 실행</p>
										</header>
										
										<hr>
										<p> 
											<h4>Tech Stack</h4>
											HTML, CSS, JavaScript, Three.js, React
										</p>
									</div>
								</div>
							</div>
	
							<!--Project 2-->
							<div>
								<div class="box">
									<div class="content">
										<header class="align-center">
											<h4 style="text-align: left; margin: 0 0 0 0;">Project 2</h4>
											<h2><a href="festival.html">Festival Finder</a></h2>
											<p>개최 예정 또는 개최 중인 지역 축제를 보여주는 웹 페이지</p>
										</header>
										
										<hr>
										<p> 
											<h4>Tech Stack</h4>
											Amazon Route 53, Amazon S3, CSS, HTML, CSS, Vanilla JS, json, AWS IAM, Docker, MySQL, Open API, CI/CD
										</p>
									</div>
								</div>
							</div>
	
							<!--Project 3-->
							<div>
								<div class="box">
									<div class="content">
										<header class="align-center">
											<h4 style="text-align: left; margin: 0 0 0 0;">Project 3</h4>
											<h2><a href="cost_alarm.html">Slack : Channel 'AWS Cost Alarm' </a></h2>
											<p>AWS의 이번달 이용 요금에 대해 알려주는 Chat</p>
										</header>
										
										<hr>
										<p> 
											<h4>Tech Stack</h4>
											Slack, AWS, python
										</p>
									</div>
								</div>
							</div>

							<!--Project 4-->
							<div>
								<div class="box">
									<div class="content">
										<header class="align-center">
											<h4 style="text-align: left; margin: 0 0 0 0;">Project 4</h4>
											<h2><a href="chatbot.html">Slack : Channel 'Chatbot' </a></h2>
											<p>단순 대화를 위한 채팅 가능</p>
										</header>
										
										<hr>
										<p> 
											<h4>Tech Stack</h4>
											Slack, AWS, python
										</p>
									</div>
								</div>
							</div>

							<!--Project 5-->
							<div>
								<div class="box">
									<div class="content">
										<header class="align-center">
											<h4 style="text-align: left; margin: 0 0 0 0;">Project 5</h4>
											<h2><a href="book_store.html">Web page : Book Store </a></h2>
											<p>판매할 도서를 등록할 수 있는 웹페이지</p>
										</header>
										
										<hr>
										<p> 
											<h4>Tech Stack</h4>
											React, Json, Java Script, M0ySQL, CSS
										</p>
									</div>
								</div>
							</div>

							<!--Project 6-->
							<div>
								<div class="box">
									<div class="content">
										<header class="align-center">
											<h4 style="text-align: left; margin: 0 0 0 0;">Project 6</h4>
											<h2><a href="break_the_delivery.html">Application : 'Break the Delivery'  </a></h2>
											<p>공동 구매로 배달비를 절감할 수 있는 어플리케이션</p>
										</header>
										
										<hr>
										<p> 
											<h4>Tech Stack</h4>
											Dot Home, File Zilla, XML, Java
										</p>
									</div>
								</div>
							</div>

							<!--Project 7-->
							<div>
								<div class="box">
									<div class="content">
										<header class="align-center">
											<h4 style="text-align: left; margin: 0 0 0 0;">Project 7</h4>
											<h2><a href="pneumonia.html">AI Pneumonia  </a></h2>
											<p>흉부 x-ray 사진을 통해 자동적으로 폐렴을 진단해주는 폐렴 진단 딥러닝 모델</p>
										</header>
										
										<hr>
										<p> 
											<h4>Tech Stack</h4>
											Google colaboratory, Python, DenseNet-161, CNN
										</p>
									</div>
								</div>
							</div>
	
						</div>

						
					</div>
				</div>
			</section>

			<!--My Skill-->
			<section id="four" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<h2>My Skill</h2><br>
						<p>
							<h4>Language</h4>
							C, Java, JavaScript, HTML, CSS, PHP , SQL <br><br>

							<h4>Tool</h4>
							Android Studio, VsCode, AWS, React, spring, nginx, docker, MySQL, jquery, vue.js
						</p>
					</header>
				</div>
			</section>
			


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script><script src="assets/js/jquery.scrolly.min.js"></script><script src="assets/js/jquery.scrollex.min.js"></script><script src="assets/js/skel.min.js"></script><script src="assets/js/util.js"></script><script src="assets/js/main.js"></script></body></html>

			<!--Copy Text-->
			<script>
				const copyText = document.getElementById('copyText');
		
				copyText.addEventListener('click', function() {
					const textToCopy = copyText.innerText;
		
					navigator.clipboard.writeText(textToCopy)
						.then(() => {
							console.log('이메일 주소 복사 완료 : ', textToCopy);
							alert('이메일 주소 복사 완료');
						})
						.catch(err => {
							console.error('이메일 주소 복사 실패 ', err);
							alert('이메일 주소 복사 실패');
						});
				});
			</script>

			<!--Copy Number-->
			<script>
				const copyNum = document.getElementById('copyNum');
		
				copyNum.addEventListener('click', function() {
					var number = document.getElementById("copyNum").innerText.replace(/\-/g,"").trim();
					var textarea = document.createElement("textarea");

					textarea.value = number;

					document.body.appendChild(textarea);
					textarea.select();
					textarea.setSelectionRange(0, 9999);

					document.execCommand("copy");
					document.body.removeChild(textarea);

					console.log('전화번호 복사 완료 : ', number);
					alert("전화번호 복사 완료");
				});
			</script>
