<!DOCTYPE HTML>
<html>
    <head>
        <title>Heewon's JobSeeking</title>
        <meta charset="utf-8">
        <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    
    <body class="subpage">

    <!-- Header -->
    <header id="header">
        <div class="logo">
            <a href="index.html">Portfolio <span>by Heewon Kim</span></a>
        </div>
        <a href="#menu" class="toggle"><span>Menu</span></a>
    </header>
    
    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li>
                <a href="#">Careers</a>
                <ul class="links">
                    <li><a href="moodang.html"> - Moodang Odyssey</a></li>
					<li><a href="festival.html"> - Festival Finder</a></li>
					<li><a href="cost_alarm.html"> - AWS Cost Alarm</a></li>
					<li><a href="chatbot.html"> - Chatbot</a></li>
					<li><a href="book_store.html"> - Book Store</a></li>
					<li><a href="break_the_delivery.html"> - Break the Delivery</a></li>
					<li><a href="pneumonia.html"> - AI Pneumonia</a></li>
                </ul>
            </li> 
            <li><a href="generic.html">Generic</a></li>
            <li><a href="elements.html">Elements</a></li>
        </ul>
    </nav>
    
    <!-- One -->
    <section id="one" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <header class="align-center">
                        <h2>Moodang Odyssey</h2>
                        <p>다른 차들을 피하고 2개의 정류장에서 미니게임을 통과해 등교 완료하는 게임</p>
                    </header>
                    
                    <hr>
                    <div class="image fit">
                        <img src="images/Moodang_odyssey.png" alt="" width="3472" height="auto">
                    </div>
    
                    <p>
                        <h4>Duration</h4>
                        <blockquote>4weeks (2023.10.14 ~ 2023.11.17)</blockquote>
                    </p>
                    <p>
                        <h4>Tech Stack</h4>
                        <blockquote>HTML, CSS, JavaScript, Three.js, React  </blockquote>
                    </p>
                    <p>
                        <h4>Description</h4>
                        
                        <blockquote>
                            <h4>&nbsp;Main Game</h4>
                            다른 차들과 부딪히지 않고 총 3개의 정류장에 도달하고 Moodang(무당이)을 등교 완료시킨다. <br><br>

                            <h4>&nbsp;Mini Game 1 (무당이를 탈출시켜라!)</h4>
                            보드게임 'Rush Hour'에서 착안한 게임. 다른 차들을 움직여 Moodang(무당이)를 exit으로 탈출시킨다. <br><br>

                            <h4>&nbsp;Mini Game 2 (업무 피하기 대작전)</h4>
                            Moodang(무당이)가 술래의 눈을 피해 박스로 몸을 숨기고 탈출해야 한다.<br><br>

                            <div class="image fit">
                                <img src="images/moodang_content.jpg" alt="" width="3472" height="auto">
                            </div>
                        </blockquote>

                        <h4>Demonstraton Video</h4>
                        
                    </p>
                    </div>
            </div>
        </div>
    </section>


    <!-- Four -->
    <section id="four" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <h2>Morbi interdum mollis sapien</h2>
                <p>Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
            </header>
        </div>
    </section>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script><script src="assets/js/jquery.scrolly.min.js"></script><script src="assets/js/jquery.scrollex.min.js"></script><script src="assets/js/skel.min.js"></script><script src="assets/js/util.js"></script><script src="assets/js/main.js"></script></body></html>
